/* Tooltip */
/* container do tooltip */
.tooltip {
    position: relative;
    display: inline-block;    
}
  
/* texto do tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 8px 8px;
    border-radius: 6px;
   
    /* posição do texto do tooltip */
    position: absolute;
    z-index: 1;
}
  
  /* visibilidade do tooltip - aparece quando se passa o mouse sobre o container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
  

/* Estilos da tabela de itens */
.tabela-itens {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 14px;
    min-width: 400px;
}

.tabela-itens thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tabela-itens th,
.tabela-itens td {
    padding: 12px 15px;
}

.tabela-itens tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabela-itens tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabela-itens tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Formatação da tabela de cadastro e botão associado */

table.form {
    font-size: 13px;        
}

tr.form {
    text-align: left;    
    font-size: 14px;
    color: #009879;
    font-weight: bold;
}

.addBtn {
    padding: 6px 6px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #009879;
    color: white;
}

/* Define uma faixa com imagem em background, a altura da faixa deve ser definida na div */

div.faixa {
    background-image: url("../img/background.jpg");
}

/* Demais formatações e estilos */

input {
    padding: 6px;    
}

.title {
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(57, 165, 86);
    display: inline-block;
    padding: 6px;
    position: sticky;
    top: 0px;
    font-size: 25px;
    font-weight: bold;
}

body {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(204, 233, 202);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

div.item {
    padding: 10px 20px;
    color: rgb(12, 54, 3);
    display: flex;
    justify-content: center;
}
